body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #4d4d4d;
  font-family: sans-serif;
  font-size: 1.0rem;
  font-weight: 300;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #ff0000;
}
a:active {
  color: #ff0000;
}
hr {
  color: #eeeeee;
  background-color: #eeeeee;
  height: 1px;
  border: none;
  float: left;
  width: 100%;
}
img {
  max-width: 100%;
}
.round-img {
  border-radius: 50%;
  padding: 2px;
  border: 10px solid;
}
aside div#user_meta {
  padding: 40px;
  text-align: center;
  max-width: 400px;
  margin: auto;
}
aside div#user_meta div.logo {
  height: 195px;
  max-width: 100%;
  overflow: hidden;
  background: url('/static/images/logo.svg') no-repeat center;
  background-size: contain;
}
aside div#user_meta div.logo:hover {
  background: url('/static/images/logo-hover.svg') no-repeat center;
  background-size: contain;
}
aside div#user_meta div.logo:active {
  background: url('/static/images/logo-hover.svg') no-repeat center;
  background-size: contain;
}
aside div#user_meta h2 {
  font-size: 1.0rem;
  margin: 15px 0 5px 0;
}
aside div#user_meta p {
  margin: 0 0 15px 0;
  font-size: .8rem;
}
aside div#user_meta ul {
  margin: auto;
  max-width: 300px;
  padding-left: 0;
  font-size: .9rem;
  list-style-type: none;
}
aside div#user_meta ul li {
  display: inline;
  line-height: 3rem;
}
aside div#user_meta ul li a {
  padding: 0px;
  color: #999999;
}
aside div#user_meta ul li a div {
  margin: 7px 0px;
  padding: 5px 15px 5px 15px;
  border: 2px solid #eeeeee;
  border-radius: 15px;
  text-align: center;
  line-height: 1.1rem;
}
aside div#user_meta ul li a div:hover {
  border-color: #ff0000;
}
aside div#user_meta ul li a div:active {
  border-color: #ff0000;
}
main header {
  padding: 10px 40px;
  border-top: #eeeeee 1px solid;
  border-bottom: #eeeeee 1px solid;
}
main header p {
  font-weight: bold;
  font-size: .6rem;
  text-transform: uppercase;
}
main article {
  max-width: 640px;
  padding: 15px 40px;
}
main article div.article_text {
  line-height: 1.375rem;
}
main article div.article_text a {
  text-decoration: underline;
}
main article div.article_text code {
  margin: 2px;
  padding: 0;
  color: #000000;
  font-size: .8rem;
  font-family: monospace;
  font-weight: 400;
}
main article div.article_text pre {
  margin: 22px 0px 22px 0px;
  padding: 10px 5px;
  color: #000000;
  border-left: 2px solid #ff0000;
  font-size: .8rem;
  font-family: monospace;
  line-height: 1.25rem;
  overflow-x: auto;
}
main article div.article_text blockquote {
  margin: 22px 2px 22px 2px;
  padding-left: 40px;
  color: #999999;
  font-style: italic;
}
main article div.gist {
  line-height: .875rem;
}
main article div.article_meta {
  font-size: .7rem;
  color: #999999;
}
main footer {
  border-top: #eeeeee 1px solid;
  padding: 40px;
}
main footer a.button_accent {
  padding: 5px 10px;
  border: 2px solid #ff0000;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  text-transform: lowercase;
  color: #ff0000;
  font-size: .75rem;
}
main footer a.button_accent:hover {
  color: #ffffff;
  background-color: #ff0000;
}
main footer a.button_accent:active {
  color: #ffffff;
  background-color: #ff0000;
}
main div#ending_message {
  border-top: #eeeeee 1px solid;
  padding: 0 40px 0 40px;
  color: #999999;
  font-size: .6rem;
}
@media screen and (min-width: 1024px) {
  aside {
    width: 280px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-right: #eeeeee 1px solid;
  }
  aside h2 {
    margin: 10px 0 0 0;
  }
  aside div#user_meta {
    max-width: 195px;
    text-align: right;
  }
  aside div#user_meta div.logo {
    height: 195px;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    background: url('/static/images/logo.svg') no-repeat;
    background-size: contain;
  }
  aside div#user_meta div.logo:hover {
    background: url('/static/images/logo-hover.svg') no-repeat;
    background-size: contain;
  }
  aside div#user_meta div.logo:active {
    background: url('/static/images/logo-hover.svg') no-repeat;
    background-size: contain;
  }
  aside div#user_meta ul li {
    display: block;
  }
  main {
    width: 75%;
    position: absolute;
    top: 0;
    left: 280px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  main article {
    max-width: 640px;
  }
  main header {
    border-top: 0;
  }
}
